/**********************************************************************************************************************/
/*********************************************** Campus selection *****************************************************/
/**********************************************************************************************************************/

/* The container */
#custom-select {
    position: relative;
    font-family: sans-serif;
    text-align: justify;
    margin: 11px 4px;
    width: 100px;
}

#custom-select select {
    display: none;
    /*hide original SELECT element: */
}

/* Style the current selected element */
.select-selected {
    background-color: #2d79a0;
    border: 2px solid #2d79a0;
    border-radius: 4px;
    color: white;
    padding: 4px 6px;
    cursor: pointer;
}

.select-selected:hover {
    background-color: #2d79a0;
    color: white;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Style the arrow inside the select element */
.select-selected:after {
    position: absolute;
    content: "";
    top: 13px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active) */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* Style select options */
.select-items {
    position: relative;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    /* Setting the select box in the forefront */
    border-radius: 5px;
}

/* Style select options div */
.select-items div {
    border: 2px solid transparent;
    border-radius: 5px;
    border-color: #2d79a0;
    color: rgb(100, 100, 100);
    padding: 4px 6px;
    margin-top: 1px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.select-items div:hover {
    background-color: #2d79a0;
    color: white;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

@media (min-width: 500px) {
    #custom-select {
        margin-top: 6px;
        width: 140px;
        font-size: 16px;
    }

    .select-selected {
        padding: 8px 10px;
    }

    .select-items div {
        padding: 8px 10px;
    }

    .select-selected:after {
        top: 20px;
    }

    .select-selected.select-arrow-active:after {
        top: 10px;
    }
}